:root {
    --color-primary: #1d184e;
    --color-secondary: #b7c0ee;
    --color-warning: #a6262e;
    --color-succes: #3e7a5c;
    --font-title: 'Handjet', cursive;
    --font-text: 'Ubuntu Mono', monospace;
    --btn-box-shadow: 0px 0px 18px 0px rgba(10,10,10,0.5);
}

body {
    padding: 20px 40px;
    padding-bottom: 0;
    margin: 0;
    min-height: calc(100vh - 40px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
    color: white;
}

p ,a ,ul ,ol, label {
    font-family: var(--font-text);
    color: white;
}

a {
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
}

a:hover {
    font-weight: lighter;
    text-decoration: underline;
}

main {
    height: calc(90vh - 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: calc(50% - 50px);
    border-radius: 10px;
}

.login-form > input {
    background-color: transparent;
    margin: 10px 0px;
    margin-bottom: 25px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 22px;
    font-family: var(--font-title);
    color: white;
}

.login-form > input:focus {
    color: black;
    background-color: white;
}

.login-form > button {
    font-size: 25px;
}

header {
    height: 5vh;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-emoji {
    color: var(--color-warning);
    font-size: 25px;
}

input {
    border-radius: 50px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid lightgray;
}

input:focus {
    border: 2px solid var(--color-succes);
    box-shadow: var(--btn-box-shadow);
}

.btn {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 7px;
    border: none;
    box-shadow: var(--btn-box-shadow);
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    scale: 0.95;
}

.btn-action {
    background-color: var(--color-succes);
    color: white;
    font-weight: bold;
}

.error {
    padding: 8px 20px;
    background-color: var(--color-warning);
    border: 2px solid darkred;
    border-radius: 7px;
}

.sheet {
    width: 100%;
}
.sheet > .head {
    font-size: 18px;
    font-weight: bold;
}
.row {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white;
    text-align: center;
}
.col:last-child {
    border-right: none;
}
