{{ template "components/header" . }}
<main>
    <h2>Create new Game</h2>
    <div class="form-result"></div>
    <form class="form-game" hx-post="/games" hx-target=".form-result" >
        <input type="text" placeholder="Name" name="game-name" />
        <button type="submit" class="btn btn-action">Add</button>
    </form>
    <h2>My games</h2>
    <div class="container">
        <div class="sheet" hx-get="/hm/games" hx-trigger="load">
        </div>
    </div>
</main>
{{ template "components/footer" . }}
