<div class="row">
    <div class="head col">
        <p>Name</p>
    </div>
    <div class="head col">
        <p>UUID</p>
    </div>
</div>
{{ range . }}
<div class="row">
    <div class="col">
        <p>{{.Name}}</p>
        <a class="btn btn-action" href="/games/{{ .UUID }}">Go</a>
        <button class="btn btn-warning" hx-delete="/hm/games/{{ .UUID }}" hx-trigger="click" hx-confirm="Are you sur you want to delete {{.Name}} ?">Delete</button>
    </div>
    <div class="col">
        <acronym title="Copy to clipboard">
            <p class="copy-clipboard">{{.UUID}}</p>
        </acronym>
    </div>
</div>
{{ end }}
